* {
	font-family: "Lato", sans-serif;
}

.home > .header {
	&:empty {
		min-height: 72px;
	}

	position: relative;
	background: linear-gradient(100deg, var(--main-background), var(--main-1) 25%, var(--main));
	overflow: hidden;
	max-width: 100%;
	text-align: center;
	font-size: 3em;
	color: var(--background);
	font-weight: 600;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}
