.input-group-prepend {
	height: 38px;
}

textarea {
	min-height: 38px;
	max-height: 6em;
	height: 86px;
}

.hiddenDebugInput {
	text-align: start;
}

.custom-file-label {
	text-align: start;
	white-space: nowrap;
	padding-right: 90px;
}
