.profilePictureNav {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu {
    left: calc(-100% + 20px);
}

.dropdown-toggle::after {
    position: relative;
    top: 2px;
}

.show > .dropdown-toggle::after {
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}

.centered {
	text-align: center;
    width: 100%;
}

.selected {
    text-decoration: underline;
}

nav{
    border-bottom: 1px solid var(--highlight);
}

nav.navbar, .nav-link, .navbar-toggler-icon {
    background: var(--background-1);
    color: var(--text);
}

@media (min-width: 992px) {
    .dropdownName, .dropdownNameFull {
        display: none;
    }
}

.btn-link {
    font-weight: 400 !important;
    color: #007bff !important;
    text-decoration: none !important;
}

.btn-link:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
}
