label {
  > span {
    width: 100px;
    display: inline-block;
  }

  > input {
    width: 150px;
    box-sizing: border-box;
    border: 1px solid gray;
  }
}

h1 {
  width: 100vw;
}

.reports {
  margin-left: 5px;
  text-align: center;
  width: calc(100vw - 10px);
  filter: drop-shadow(0px 1px 1px gray);

  > div {
    padding: 2px 0;
    width: 25%;
    background-color: lightskyblue;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);

    &:not(:first-child) {
      border-left: none;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    > a {
      display: inline-block;

      &:not(:first-child):not(:last-child) {
        margin: 0 2px;
      }
    }
  }
}
