<div style="text-align:center" class="no-print">
	<h1>
		Welcome to Kace Custom Reports
	</h1>
</div>
<h2 *ngIf="!loggedIn" class="no-print">First login: </h2>
<form (submit)="submit($event)" class="no-print" *ngIf="!loggedIn">
	<label>
		<span>Username:</span>
		<input type="text" name="userName" ngModel required>
	</label> <br>
	<label>
		<span>Password:</span>
		<input type="password" name="password" ngModel required>
	</label> <br>
	<label *ngIf="!loggingIn">
		<span>Login:</span>
		<input type="submit">
	</label>
	<label *ngIf="loggingIn">
		<span>Logging in</span>
	</label>
</form>

<div *ngIf="user" class="reports no-print">
	<div>
		<span>Ticket report</span> <br>
		<a [routerLink]="'/report'">All Time</a><br>
		<a [routerLink]="'/report'"
		   [queryParams]="{filter: 'created>\'' + formatToday(true, 1) + '\'&&ticket.created<\'' + formatToday(true) + '\''}">
			Last Month
		</a>
		<a [routerLink]="'/report'" [queryParams]="{filter: 'created>\'' + formatToday(true) + '\''}">
			This Month
		</a>

	</div>
	<div>
		<span>Report</span> <br>
		<br>
		<a [routerLink]="'/'">Excel</a>
	</div>
	<div>
		<span>Graph</span> <br>
		<a [routerLink]="'/graph'">All time</a> <br>
		<a [routerLink]="'/graph'"
		   [queryParams]="{min: formatToday(true, 1), max: endOfMonth(1)}">
			Last Month
		</a>
		<a [routerLink]="'/graph'"
		   [queryParams]="{min: formatToday(true), max: endOfMonth()}">
			This Month
		</a>
	</div>
	<div>
		<span>Logout</span> <br>
		{{ user.loggedinFullName }}<br>
		<a (click)="(user = null) || (loggedIn = null) || resetToken()" href="javascript:void(0)">Here</a>
	</div>
</div>

<div style="overflow: hidden">
	<router-outlet *ngIf="user"></router-outlet>
</div>
