<div class="home">
	<div class="header">
		<div class="container">
			<div class="col-md-8">
				<h4>{{ 'page.title ' + page | i18n | titlecase }}</h4>
				<p>{{ 'page.subtitle ' + page | i18n }}</p>
			</div>
		</div>
		<svg width="800" height="200" viewBox="0 0 800 200" style="display: none">
			<defs>
				<path class="waveColor" id="double-wave"
					  d="M400 0C280 0 120 40 0 40v160h800v-160C680 40 520 0 400 0z"></path>
			</defs>
		</svg>
		<svg width="5600" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" class="header_wave wave1">
			<use xlink:href="#double-wave" x="0" y="0"></use>
			<use xlink:href="#double-wave" x="800" y="0"></use>
			<use xlink:href="#double-wave" x="1600" y="0"></use>
			<use xlink:href="#double-wave" x="2400" y="0"></use>
			<use xlink:href="#double-wave" x="3200" y="0"></use>
			<use xlink:href="#double-wave" x="4000" y="0"></use>
			<use xlink:href="#double-wave" x="4800" y="0"></use>
			<use xlink:href="#double-wave" x="5600" y="0"></use>
		</svg>
		<svg width="5600" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" class="header_wave wave2">
			<use xlink:href="#double-wave" x="0" y="0"></use>
			<use xlink:href="#double-wave" x="800" y="0"></use>
			<use xlink:href="#double-wave" x="1600" y="0"></use>
			<use xlink:href="#double-wave" x="2400" y="0"></use>
			<use xlink:href="#double-wave" x="3200" y="0"></use>
			<use xlink:href="#double-wave" x="4000" y="0"></use>
			<use xlink:href="#double-wave" x="4800" y="0"></use>
			<use xlink:href="#double-wave" x="5600" y="0"></use>
		</svg>
		<svg width="5600" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" class="header_wave wave3">
			<use xlink:href="#double-wave" x="0" y="0"></use>
			<use xlink:href="#double-wave" x="800" y="0"></use>
			<use xlink:href="#double-wave" x="1600" y="0"></use>
			<use xlink:href="#double-wave" x="2400" y="0"></use>
			<use xlink:href="#double-wave" x="3200" y="0"></use>
			<use xlink:href="#double-wave" x="4000" y="0"></use>
			<use xlink:href="#double-wave" x="4800" y="0"></use>
			<use xlink:href="#double-wave" x="5600" y="0"></use>
		</svg>
		<svg width="5600" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" class="header_wave wave4">
			<use xlink:href="#double-wave" x="0" y="0"></use>
			<use xlink:href="#double-wave" x="800" y="0"></use>
			<use xlink:href="#double-wave" x="1600" y="0"></use>
			<use xlink:href="#double-wave" x="2400" y="0"></use>
			<use xlink:href="#double-wave" x="3200" y="0"></use>
			<use xlink:href="#double-wave" x="4000" y="0"></use>
			<use xlink:href="#double-wave" x="4800" y="0"></use>
			<use xlink:href="#double-wave" x="5600" y="0"></use>
		</svg>
	</div>

	<div class="cardholder">
		<a [routerLink]="[submenuItem[1]]" class="card" *ngFor="let submenuItem of submenuItems">
			{{ 'nav.' + saveI18n(submenuItem[0]) | i18n }}
		</a>
	</div>
</div>
